// Esquema de colores
$white: #FFFFFF;
$platinum: #E8E8E8;
$Gray: #BABABA;
//  esquema de colores
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;
//  Esquema
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon:#B1E4EB;
// Esquema
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;
// esquema
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;




//quinto esquema $verdigris: #44BBA4;


//sexto esquema


// tipografía $raleway: 'Raleway', sans-serif;
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;


// peso $regular: 400;

$regular:400;
$bold: 700;




// tamaño $xxx-large: 70px;
$xxxxx-large: 50px;
$xxxx-large:45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
