header {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.header__background{
  background-image: url("../img/bg-hero.svg");
  width: 100%;
  height: 18em;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__content{
  margin: 5%;

}

@media (min-width: 992px) {
  .header__background{
    background-image: url("../img/bg-hero.svg");
    height:820px;
    width:100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header__content{
    padding-right:60%;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

 }
